<html>
<head>
  <title>Ramsey Hall</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"/>
</head>
<body>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <article class="card is-rounded">
        <div class="card-content">
          <h1 class="title">Ramsey Hall</h1>
          <form action="/login" method="post">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" name="username" type="text" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" name="password" type="password" placeholder="Password">
              </div>
            </div>
            <p class="control">
              <input type="submit"
                     class="button is-primary is-medium is-fullwidth"
                     value="Log in">
            </p>
          </form>
        </div>
      </article>
    </div>
  </div>
</section>
</body>
</html>
